/* Ensure the body takes at least the height of the viewport */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Let the container grow to fill available space */
.container {
  flex: 1;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer a {
  font-size: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  margin: 0 10px;
  font-size: 30px;
}
